DATABASE_URL=postgresql://user:pass@localhost:5432/bookticket

JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=15m
FRONTEND_URL = http://127.0.0.1:5500
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=7d

SESSION_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3000/google/callback

PORT=3000
